.backgroundMap {
  border: solid 1px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 400px;
  height: 400px;
}
.tile {
  display: flex;
  grid-area: auto;
  border: solid 1px;
  box-sizing: border-box;
}
.layer {
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  position: absolute;
  width: 132px;
  height: 132px;
  background-color: transparent;
}
