.backgroundMapContainer {
  overflow-y: auto;
  overflow-x: auto;
  margin: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.mapCanvas {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
.backgroundMap {
  display: grid;
  width: fit-content;
}
.tile {
  display: flex;
  grid-area: auto;
  box-sizing: border-box;
}

.tile:hover {
  opacity: 45%;
  transition: 300ms;
}
