.categoryButtonBackground {
  display: flex;
  align-items: center;
  height: 35px;
  border-radius: 10%;
  margin: 0 2px;
  padding: 1px;
}
.changePageButton {
  height: 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5%;
  text-transform: capitalize;
  box-shadow: 3px 3px;
  margin: 2px 1px;
}
.categoryButtonOn {
  box-shadow: -3px -3px;
}
.categoryTilesButtonsContainer {
  justify-content: center;
  display: flex;
  padding-top: 4px;
}
