.h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 60px;
  font-weight: bolder;
  margin: 0 0 15px 0;
  padding: 15px;
  user-select: none;
}

.h2 {
  font-weight: bolder;
  font-size: 30px;
  font-family: "Arial Narrow Bold", sans-serif;
  justify-self: right;
  margin: 15px 0;
  user-select: none;
}
.h5 {
  font-size: 16px;
  padding: 4px;
  margin: 0;
  user-select: none;
}
