.formContainer {
  display: flex;
  justify-content: center;
}
.girdSizaSelectorInput {
  align-items: center;
  background-color: rgb(151, 172, 172);
  justify-content: right;
  margin: 5px;
  width: 30px;
}
.girdSizaSelectorInput:focus {
  background-color: rgb(127, 154, 154);
  border-radius: none;
  margin: 5px;
  width: 30px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.gridSizaForm {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: auto;
}
.gridSizaFormInputTitle {
  font-family: cursive;
  justify-self: left;
  margin: 2px 2px 5px 10px;
  user-select: none;
}
