.mapHeader {
  display: grid;
  padding: 16px;
}
.titleContainer {
  display: flex;
  justify-content: center;
}
.titleInput {
  display: flex;
  font-size: 45px;
  height: 100%;
  padding-top: 2px;
  margin: 0;
  min-width: 250px;
  width: 100%;
  text-align: center;
  transform: translate(-2px, -2px);
}
.titleInput::placeholder {
  color: rgb(0, 0, 0);
  font-style: italic;
}
.mapSelectorsContainer {
  align-items: center;
  border: solid 3px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
}
