.mapHeader {
  display: grid;
  padding: 16px;
}
.titleContainer {
  display: flex;
  justify-content: center;
}
.titleInput {
  display: flex;
  font-size: 45px;
  padding: 0;
  margin: 0;
  max-width: none;
  min-width: min-content;
  text-align: center;
}
.titleInput::placeholder {
  color: rgb(0, 0, 0);
}
.mapSelectorsContainer {
  align-items: center;
  border: solid 3px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
}
