.newMapButton {
  align-items: center;
  box-shadow: 3px 3px;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 26px;
  justify-content: center;
  margin: 6px 9px;
  user-select: none;
  width: max-content;
}
.newMapButtonOn {
  box-shadow: -3px -3px;
}
