.container {
  box-sizing: border-box;
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 420px;
  height: calc(100vh - 115px);
  max-height: calc(100vh - 115px);
  overflow: hidden;
  width: 100vw;
}
.divToolsSection {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "tools selectedTile"
    "layers layers"
    "tilesContainer tilesContainer";
  grid-template-rows: 170px 100px minmax(0, 1fr);
  max-height: calc(100vh - 115px);
}
.MapContainer {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 245px 1fr;
  max-height: calc(100vh - 115px);
}

@media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
  }
  .divToolsSection {
    width: max-content;
  }
}
