.container {
  display: grid;
  grid-template-columns: 1fr 420px;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 115px);
  max-height: calc(100vh - 115px);
  box-sizing: border-box;
  overflow: hidden;
}
.divToolsSection {
  display: grid;
  grid-template-rows: 170px 200px minmax(10px, 1fr);
  box-sizing: border-box;
  max-height: calc(100vh - 115px);
}
.divBackgorundMapContainer {
  display: grid;
  grid-template-rows: 210px 1fr;
  box-sizing: border-box;
  max-height: calc(100vh - 115px);
}

@media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
  }
  .divToolsSection {
    width: max-content;
  }
}
