.container {
  display: grid;
  grid-template-columns: 1fr 420px;
  flex-direction: row;
  padding: 5px;
  width: 100vw;
  box-sizing: border-box;
}
.divToolsContainer {
  padding: 30px;
  box-sizing: border-box;
}
.divBackgorundMapContainer {
  padding: 30px;
  box-sizing: border-box;
}

body {
  background-color: gray;
}
