.toolsContainerDad {
  border: solid black 3px;
  box-sizing: border-box;
  height: -webkit-fill-available;
  justify-self: center;
  margin: 16px;
  max-width: 326px;
  overflow-x: hidden;
  overflow-y: auto;
}
.toolsContainer {
  display: grid;
  grid-auto-rows: 80px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(4, 80px);
  max-height: 100%;
  min-width: 320px;
}
.tools {
  background-color: transparent;
  display: flex;
  grid-area: auto;
}
.selectedToolContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selectedLayerContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selectedTool {
  border: solid black 3px;
  display: flex;
  height: 100px;
  width: 100px;
}
.headerToolContainer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
  width: 100%;
}
.form {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: auto;
}
.formInput {
  margin: 2px 2px 3px 2px;
}
.formInputTitle {
  font-family: cursive;
  padding: 2px 2px 5px 2px;
}
.buttosAndTools {
  align-items: center;
  display: grid;
  grid-template-rows: 40px 1fr;
  width: 100%;
}
.toolsCanvas {
  overflow-y: auto;
  overflow-x: auto;
}

@media only screen and (max-width: 800px) {
  .divToolContainer {
    min-width: max-content;
  }
  .shown {
    position: fixed;
    right: 0;
  }
  .hidden {
    position: fixed;
    left: 98%;
  }
}
