.toolsContainerDad {
  border: solid black 3px;

  width: 320px;
}
.toolsContainer {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-auto-rows: minmax(80px, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-width: 320px;
}
.tools {
  display: flex;
  background-color: transparent;
  grid-area: auto;
}
.selectedToolContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selectedTool {
  border: solid black 3px;
  display: flex;
  width: 100px;
  height: 100px;
}
.selectedLayer {
  display: flex;
  height: 100px;
}
.headerToolContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
  width: 320px;
}
.form {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: auto;
}
.formInput {
  margin: 2px 2px 3px 2px;
}
.formInputTitle {
  font-family: cursive;
  padding: 2px 2px 5px 2px;
}
.buttosAndTools {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 360px;
}
