.toolsContainer {
  display: flex;
  flex-direction: column;
  grid-area: tools;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.buttonsContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}
.backgroundButton {
  align-items: center;
  background: linear-gradient(125deg, #ffffff, #8c8c8c, #8c8c8c, #8c8c8c);
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 5px;
  width: 40px;
}
.backgroundButtonOn {
  background: linear-gradient(
    125deg,
    #6c6c6c,
    #6c6c6c,
    #6c6c6c,
    #6c6c6c,
    #6c6c6c,
    #cccccc,
    #cccccc
  );
}
.toolButton {
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 3px 3px;
  height: 35px;
  width: 35px;
}
.toolButtonOn {
  box-shadow: -3px -3px;
}
