.tilesContainerDad {
  box-sizing: border-box;
  height: -webkit-fill-available;
  justify-self: center;
  max-width: 348px;
  overflow-x: hidden;
  overflow-y: auto;
}
.tilesContainer {
  display: grid;
  grid-auto-rows: 80px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(4, 80px);
  max-height: 100%;
  min-width: 320px;
}
.tiles {
  background-color: transparent;
  display: flex;
  grid-area: auto;
}
.selectedToolContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: selectedTile;
  justify-content: center;
}
.selectedTool {
  display: flex;
  height: 100px;
  width: 100px;
}
.selectedLayerContainer {
  align-items: center;
  display: grid;
  flex-direction: column;
  grid-area: layers;
  grid-template-rows: 34px 66px;
  justify-content: space-between;
  justify-self: center;
  width: 320px;
}
.handleLayers {
  display: grid;
  grid-template-rows: 32px 32px;
  width: 317px;
}
.layersHandlerButtonsWrapper {
  display: flex;
  justify-content: space-between;
}
.plusMinusButtonsWrapper {
  display: flex;
}
.layersNumberButton {
  align-items: center;
  box-shadow: 3px 3px;
  display: flex;
  font-size: 25px;
  font-weight: 400;
  height: 26px;
  justify-content: center;
  margin-right: 10px;
  user-select: none;
  width: 26px;
}
.layersNumberButtonOn {
  box-shadow: -3px -3px;
}
.inputRenameLayer {
  font-size: 16px;
  width: 313px;
}
.layersRenameButton {
  align-items: center;
  box-shadow: 3px 3px;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 26px;
  justify-content: center;
  margin-left: 9px;
  min-width: 65px;
  user-select: none;
}
.layersSubmitButtonOn {
  box-shadow: -3px -3px;
}
.buttosAndTiles {
  align-items: center;
  display: grid;
  grid-area: tilesContainer;
  grid-template-rows: 45px 1fr;
  padding: 16px 0;
  user-select: none;
}
.tilesCanvas {
  overflow-y: auto;
  overflow-x: auto;
}

@media only screen and (max-width: 1200px) {
  .divToolsSection {
    min-width: max-content;
    position: fixed;
  }
  .shown {
    right: 0;
  }
  .hidden {
    right: -100%;
  }
}
