.toolsContainerDad {
  border: solid black 3px;
  height: max(400px);
  overflow-y: auto;
  overflow-x: hidden;
}
.toolsContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(134px, 1fr));
  grid-template-rows: repeat(3, minmax(134px, 1fr));
  grid-auto-rows: minmax(134px, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 400px;
}
.tools {
  display: flex;
  background-color: transparent;
  grid-area: auto;
}
.selectedToolContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  justify-content: center;
}
.selectedTool {
  border: solid black 3px;
  display: flex;
  width: 160px;
  height: 160px;
}
.selectedLayer {
  display: flex;
  height: 160px;
}
.selectedToolTitle {
  display: flex;
  padding-bottom: 20%;
  color: black;
  font-size: large;
  font-weight: bolder;
  font-size: 30px;
  font-family: "Arial Narrow Bold", sans-serif;
}
.headerToolContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.form {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: auto;
}
.formInput {
  margin: 2px 2px 3px 2px;
}
.formInputTitle {
  font-family: cursive;
  margin: 2px 2px 5px 2px;
}
