.visibleHiddenLayersContain {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-self: center;
  max-width: 680px;
  overflow-x: hidden;
  overflow-y: auto;
}
.visibleHiddenLayer {
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-rows: auto;
  padding: 0 5px;
  text-align: left;
}
.visibleLayerLabel {
  font-family: cursive;
  justify-self: left;
  margin: 2px 10px 0 8px;
  user-select: none;
}

@media only screen and (max-width: 1300px) {
  .visibleHiddenLayersContain {
    max-width: 210px;
  }
}
